@font-face {
  font-family: "iconfont"; /* Project id 4741949 */
  src: url('iconfont.woff2?t=1739776607457') format('woff2'),
       url('iconfont.woff?t=1739776607457') format('woff'),
       url('iconfont.ttf?t=1739776607457') format('truetype'),
       url('iconfont.svg?t=1739776607457#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e600";
}

.icon-bofang:before {
  content: "\e624";
}

.icon-icon_update:before {
  content: "\e606";
}

.icon-shanchu:before {
  content: "\e852";
}

.icon-xibanyayu:before {
  content: "\e679";
}

.icon-english-filled:before {
  content: "\ea24";
}

.icon-add:before {
  content: "\e645";
}

.icon-close:before {
  content: "\e644";
}

.icon-guanbi:before {
  content: "\e61e";
}

.icon-xiangyou:before {
  content: "\e6a6";
}

.icon-tianjia:before {
  content: "\e67b";
}

.icon-menu:before {
  content: "\e615";
}

.icon-xiangzuo:before {
  content: "\e6a7";
}

